# yamllint disable rule:line-length
---
name: Build & Publish

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: 34 16 * * 5 # Saturday 12:34am SGT
  workflow_dispatch: {}

permissions:
  attestations: write
  contents: read
  id-token: write
  packages: write

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          username: ${{ github.actor }}

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - run: |
          tag_name="$(curl -fsS https://api.github.com/repos/Sonarr/Sonarr/releases/latest | jq -r .tag_name)"
          printf 'VERSION=%s\n' "${tag_name#v}" >>"${GITHUB_ENV}"

      - id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/sonarr
          tags: |
            type=raw,value=${{ env.VERSION }}
            type=raw,value=latest,enable={{is_default_branch}}

      - run: |
          printf 'TIMESTAMP=%d\n' "$(git log -1 --pretty=%ct)" >>"${GITHUB_ENV}"

      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          build-args: |
            VERSION=${{ env.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: .
          labels: ${{ steps.metadata.outputs.labels }}
          platforms: linux/amd64
          provenance: mode=max
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.metadata.outputs.tags }}
        env:
          SOURCE_DATE_EPOCH: ${{ env.TIMESTAMP }}
